@model IEnumerable<CustomLogin.Models.user>

@{
    Layout = "~/Views/Navbar.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/device.css" rel="stylesheet" />
    <link href="~/Style/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Login.js"></script>
    <title>Users</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-15 col-md-offset custyle">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.userName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.userName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.userID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.userID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.userID })
                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>
        </div>
</body>
</html>
